<div class="footer">
  <div class="wrap w">
    <div class="wrap-top">
      <span class="icon1">7天无理由退换货</span
      ><span class="icon2">满99元全场免邮</span
      ><span class="icon3">100%品质保证</span>
    </div>
    <div class="wrap-bottom">
      <div class="links">
        <a href="#" class="link">跨猪</a>
        <a href="#" class="link">百度</a>
        <a href="#" class="link">淘宝</a>
      </div>
      <div class="copyright">
        © 2019 kuazhu.com 豫ICP备15027861号-2
      </div>
    </div>
  </div>
</div>