<div class="head">
  <div class="w">
    <div class="logo clo-1">
      <h1>
        <a href="/" class="link">SortMall</a>
      </h1>
    </div>
    <div class="head-right clo-4">
      <div class="search-box clearfix">
        <input class="search-input" type="text" placeholder="请输入商品名称关键字">
        <a href="javascript:;" class="search-btn">搜索</a>
        <!-- <li class="search-item">衣服</li> -->
        <ul class="search-layer"></ul>
      </div>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/" class="link active">首页</a>
        </li>
        <li class="nav-item">
          <a href="#" class="link">全部商品</a>
        </li>
        <li class="nav-item">
          <a href="#" class="link">热卖商品</a>
        </li>
      </ul>
    </div>
  </div>
</div>