<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('html-loader!./common/meta.html') %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <%= require('html-loader!./common/logo.html') %>
  
  <div class="main">
    <div class="login">
        <h4>用户登录</h4>
        <div class="error-item">
          <i class="iconfont icon-minus-circle error-icon"></i>
          <p class="error-msg">error</p>
        </div>
        <div class="username">
            <span class="icon1 iconfont">&#xe602;</span><input type="text" id="username" placeholder="请输入用户名或手机号">
        </div>
        <div class="password">
            <span class="icon2 iconfont">&#xe644;</span><input type="password" id="password" placeholder="请输入密码">
        </div>
        <div class="check">
          <input type="text" id="captcha_code" placeholder="请输入右边图像验证码">
          <div class="captcha_box"></div>
        </div>
        <div class="login-sub"><a href="#" class="link" id="login_submit">提交</a>
        </div>
        <div class="login-item">
            <a href="./user-dynamic-login.html" class="link">验证码动态登录</a><a href="./register.html" class="link">免费注册</a>
        </div>
    </div>
</div>

  <%= require('html-loader!./common/footer.html') %>
</body>
</html>