<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('html-loader!./common/meta.html') %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <%= require('html-loader!./common/logo.html') %>
  
  <div class="main">
    <div class="login">
        <h4>验证码动态登录</h4>
        <div class="error-item">
          <i class="iconfont icon-minus-circle error-icon"></i>
          <p class="error-msg">error</p>
        </div>
        <div class="username">
            <span class="icon1 iconfont">&#xe602;</span><input type="text" id="phone" placeholder="请输入手机号">
        </div>
        <div class="check form-item verify-code">
          <input type="text" name="verifyCode" id="verify-code" placeholder="请输入手机验证码">
          <a href="javascript:;" class="btn" id="btn-verify-code">获取验证码</a>
          <div class="captcha-box">
            <div class="input-box">
                <input type="text" id="captcha_code" name="captcha-code" placeholder="请输图形验证码">
                <div class="captcha-img">

                </div>
            </div>
            <a href="javascript:;" class="btn" id="btn-captcha-code">发送</a>
          </div>
        </div>
        <div class="login-sub">
          <a href="javascript:;" class="link" id="dynamic_login_submit">提交</a>
        </div>
        <div class="login-item">
            <a href="./login.html" class="link">已有账号，去登录</a>
        </div>
    </div>
</div>

  <%= require('html-loader!./common/footer.html') %>
</body>
</html>